{% comment %} {% extends 'base_generic.html' %} {% endcomment %}

{% comment %} {% block content %}
  <h1>List of Registered Students</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>{{ student.username }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phone_number }}</td>
          <td>{{ student.address }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %} {% endcomment %}
<div>
    {% for student in page_obj %}
        <p>{{ student.username }} - {{ student.email }}</p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
